@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h2 {
    color: theme('colors.mariner');
    margin-top: theme('margin.8');
    margin-bottom: theme('margin.4');
    font-weight: theme('fontWeight.semibold');
    font-size: theme('fontSize.xl');
}

.prose h3 {
    color: theme('colors.mariner');
    margin-top: theme('margin.8');
    margin-bottom: theme('margin.4');
    font-weight: theme('fontWeight.semibold');
    font-size: theme('fontSize.lg');
}

.prose p {
    color: theme('colors.mariner');
    margin-top: theme('margin.4');
    margin-bottom: theme('margin.4');
}

.prose a {
    color: theme('colors.salmon');
    text-decoration: underline;
}