@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    overflow-x: auto;
    padding-top: theme('padding.4');
    padding-bottom: theme('padding.4');
    border-radius: theme('borderRadius.md');
}

pre [data-line] {
    padding-left: theme('padding.4');
    padding-right: theme('padding.4');
}